<div class="col-xs-6">
  <form class="form-inline">
    <label for="search"></label>
    <input type="text" name="search" ng-model="queryParam" class="form-control" placeholder="Search by Author">
    <button name="button" ng-click="search()" class="btn btn-default">Search</button>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ID</th>
        <th>Loaned</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="book in bookList">
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book._id}}</td>
        <td>Loaned: {{book.loaned}} <br/><button ng-click="loan(book)" ng-show="isMine(book)" class="btn btn-table">{{loanState(book)}}</button></td>
      </tr>
    </tbody>
  </table>
</div>
